.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-title {

  /* font-size: 4rem; */
  font-weight: 600;
  color: white;
  align-self: flex-start;
  padding-left: 5%;
  /* Base color */
  /* text-align: center; */
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  /* text-transform: uppercase; */
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  /* Subtle shadow for depth */
  /* padding-bottom: 10px; */
}

@media (max-width: 768px) {
  .album-title {
    font-size: 20px; /* For tablet-sized devices and above */
  }
}





.album-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
  width: 90%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.album-card-container::-webkit-scrollbar {
  display: none;
}